*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Roboto Condensed', sans-serif;
}


/* Buttons */

.my-btn{

    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* List */

.my-list li{
    padding: 20px 10px;
    margin: 15px 15px;
}

/* Borders */

.my-border{
    border-top: 2px solid rgb(26, 26, 26);
    border-bottom: 2px solid rgb(25, 25, 25);
}

/* Colors */
.my-bg-black{
    background-color: rgb(25, 25, 25);
}

.my-bg-green{
    background-color: rgb(74, 151, 74);
}

.my-bg-red{
    background-color: rgb(196, 57, 57);
}
